<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.connectingus">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/whatsapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/whatsapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConnectingUs">
        <activity
            android:name=".ProfileEdit"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NumberVerify" />
        <activity android:name=".OTPVerify" />
    </application>

</manifest>